@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');

body {
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Spartan", sans-serif;
    margin: 0;
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}

h1 {
    font-weight: normal;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 0rem;
    align-items: center;
    color: #FFFFFF;
}

body {
  background-color: black;
}

hr.line1 {
  margin-top: 0rem;
  margin-bottom: 3rem;
  border-right: 300px solid #bbb;
  align-items: center;
}

hr.line2 {
  margin-top: 0rem;
  margin-bottom: 3rem;
  border-right: 300px solid #bbb;
}

.credits {
  align-items: center;
  color: #808080;
  font-size: 10px;
  margin-bottom: 3rem;
  cursor: pointer;
}

a:link {
  cursor: pointer;
  color: #808080;
}